@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --footer-text: 40, 15, 85;
    --social-icons: 125, 0, 255;
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
        45deg,
        rgb(var(--accent)),
        rgb(var(--accent-light)) 30%,
        white 60%
    );
}
html {
    /*font-family: 'Rock Salt', sans-serif;*/
    font-family: system-ui, sans-serif;
    background: #13151a;
    background-size: 224px;
        
}
code {
    font-family:
        Menlo,
        Monaco,
        Lucida Console,
        Liberation Mono,
        DejaVu Sans Mono,
        Bitstream Vera Sans Mono,
        Courier New,
        monospace;
}

main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: rgb(255, 255, 255);
    font-size: 20px;
    line-height: 1.6;
}
.astro-a {
    position: absolute;
    top: -32px;
	left: 50%;
	transform: translatex(-50%);
	width: 400px;
	height: 550px;
	z-index: -1;
}
h1 {
    font-family: 'Rock Salt', sans-serif;
    font-size: 3.25rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
}
/*h2 is used for the title section of the 'Cards' on the homepage*/
h2 {
    font-family: 'Rock Salt', sans-serif;
    margin: 0;
    font-size: 1.75rem;
    transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
}
/*h3 is used for the site title on the Header*/
h3 {
    margin: 0;
    font-size: 1.5rem;
    transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
}
h3 a,
h3 a.active {
	text-decoration: none;
    color: green;
    font-weight: bolder
}
/*h4 is used for the title section of the 'New Tab Cards' and 'No Tab Cards' on all other pages*/
h4 {
    font-family: 'Rock Salt', sans-serif;
    margin: 0;
	font-size: 0.95rem;
	transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
}

.text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
}
.instructions {
    font-family: 'Rock Salt', sans-serif;
    font-size: 0.90rem;
    margin-bottom: 2rem;
    border: 1px solid rgba(var(--accent-light), 25%);
    background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
    padding: 1.5rem;
    border-radius: 8px;
    text-align: center;
}
.instructions code {
    font-family: 'Rock Salt', sans-serif;
    font-size: 0.90em;
    font-weight: bold;
    background: rgba(var(--accent-light), 12%);
    color: rgb(var(--accent-light));
    border-radius: 4px;
    padding: 0.3em 0.4em;
}
.instructions strong {
    color: rgb(var(--accent-light));
}

/*Below is used to style the Header component on each page*/
header {
	color: #dbbdff;
    margin: 0;
	padding: 0 1em;
    background: rgb(35, 38, 45);
	box-shadow: 0 2px 8px rgba(var(--black), 5%);
    font-family: 'Rock Salt', sans-serif;
}
/*Below is used to style the Footer component on each page*/
footer {
    padding: 2em 1em 6em 1em;
    background: linear-gradient(var(--gray-gradient)) no-repeat;
    /*color: rgb(var(--gray));*/
    color: rgb(var(--footer-text));
    text-align: center;
    font-family: 'Rock Salt', sans-serif;
}
.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	/* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
	clip: rect(1px 1px 1px 1px);
	/* maybe deprecated but we need to support legacy browsers */
	clip: rect(1px, 1px, 1px, 1px);
	/* modern browsers, clip-path works inwards from each corner */
	clip-path: inset(50%);
	/* added line to stop words getting mashed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
	white-space: nowrap;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav a {
    padding: 1em 0.5em;
    color: var(--black);
    border-bottom: 4px solid transparent;
    text-decoration: none;
}
nav a.active {
    text-decoration: none;
    border-bottom-color: var(--accent);
}
.social-links {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;
}
.social-links a {
    text-decoration: none;
    color: rgb(var(--social-icons));
}
.social-links a:hover {
    color: rgb(var(--gray-dark));
}
.social-links,
.social-links a {
    display: flex;
}
@media (max-width: 720px) {
    .social-links {
        display: none;
    }
}
/*Below is used for navigation links in the center of the Header*/
a {
    display: inline-block;
    text-decoration: none;
}
a.active {
    color: green;
    font-weight: bolder;
    
}
a:hover {
    font-weight: bolder;
    text-decoration: blueviolet overline wavy;
}
/*Below is used for body section of 'Cards' on the homepage*/
.card {
    font-family: 'Rock Salt', sans-serif;
    font-size: 1.05rem;
    margin-top: 0.5rem;
    margin-bottom: 0;
    color: #c59af8;
}
/*Below is used for remaining styles of 'Cards' on the homepage*/
.link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
}
.link-card {
    list-style: none;
    display: flex;
    padding: 1px;
    background-color: #23262d;
    background-image: none;
    background-size: 400%;
    border-radius: 7px;
    background-position: 100%;
    transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
}
.link-card > a {
    width: 100%;
    text-decoration: none;
    line-height: 1.4;
    padding: calc(1.5rem - 1px);
    border-radius: 8px;
    color: white;
    background-color: #23262d;
    opacity: 0.8;
}

.link-card:is(:hover, :focus-within) {
    background-position: 0;
    background-image: var(--accent-gradient);
}
.link-card:is(:hover, :focus-within) h2 {
    color: rgb(var(--accent-light));
}
/*Below is used for styles of 'New Tab Cards' on all other pages where clicking the link opens a new web browser tab*/
.link-new-tab-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 8rem));
    gap: 1.0rem;
    padding: 0;
}
.link-new-tab-card {
	list-style: none;
	display: flex;
	padding: 1px;
	background-color: #23262d;
	background-image: none;
	background-size: 400%;
	border-radius: 7px;
	background-position: 100%;
	transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
	box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
}
.link-new-tab-card > a {
	width: 100%;
	text-decoration: none;
	line-height: 1.4;
	padding: calc(1.5rem - 1px);
	border-radius: 8px;
	color: white;
	background-color: #23262d;
	opacity: 0.8;
}
.link-new-tab-card:is(:hover, :focus-within) {
	background-position: 0;
	background-image: var(--accent-gradient);
}
.link-new-tab-card:is(:hover, :focus-within) h4 {
	color: rgb(var(--accent-light));
}
/*Below is used for styles of 'no-tab-cards' on all other pages aside from SVG icons*/
.link-no-tab-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 8rem));
    gap: 1.0rem;
    padding: 0;
}
.link-no-tab-card {
	list-style: none;
	display: flex;
	padding: 1px;
	background-color: #23262d;
	background-image: none;
	background-size: 400%;
	border-radius: 7px;
	background-position: 100%;
	transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
	box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
}
.link-no-tab-card > a {
	width: 100%;
	text-decoration: none;
	line-height: 1.4;
	padding: calc(1.5rem - 1px);
	border-radius: 8px;
	color: white;
	background-color: #23262d;
	opacity: 0.8;
}
.link-no-tab-card:is(:hover, :focus-within) {
	background-position: 0;
	background-image: var(--accent-gradient);
}
.link-no-tab-card:is(:hover, :focus-within) h4 {
	color: rgb(var(--accent-light));
}
/*Below is used for styles of 'Icon-Cards' on SVG Icons page*/
.link-icon-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(11rem, 5rem));
    gap: 2rem;
    padding: 0;
}
.link-icon-card {
	list-style: none;
	display: flex;
	padding: 1px;
	background-color: #23262d;
	background-image: none;
	background-size: 400%;
	border-radius: 7px;
	background-position: 100%;
	transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
	box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
    
}
.link-icon-card > a {
	width: 100%;
	text-decoration: none;
	line-height: 1.4;
	padding: calc(1.5rem - 1px);
	border-radius: 8px;
	color: white;
	background-color: #23262d;
	opacity: 0.8;
}
.link-icon-card:is(:hover, :focus-within) {
	background-position: 0;
	background-image: var(--accent-gradient);
}
.link-icon-card:is(:hover, :focus-within) h4 {
	color: rgb(var(--accent-light));
}
/*Below sets the style for SVG icons used on the icons page*/
.icon {
    width: 100%;
    height: 75px;
    padding: calc(1.5rem - 1px);
    border-radius: 8px;
    color: rgb(255, 255, 255);
    background-color: #23262d;
	opacity: 0.8;
}