---
import KeeperApp from '../components/kkl-keeper-app.jsx';
---

<html lang="en">
<body>
    <!-- <h1>Hello, Astro!</h1> -->
    
    <!-- Using the React component -->
    <KeeperApp />

	<!-- Adds client-side JavaScript for interactivity -->
    <KeeperApp client:load />   
</body>
</html>