---
import '../styles/global.css';
interface Props {
	title: string;
	body: string;
	href: string;
	
}

const { href, title, body, } = Astro.props;
---

<li class="link-subcard">
	<a href={href} onclick="window.open(this)"; target="_blank"; >
		<h4>
			{title}
			<span>&rarr;</span>
		</h4>
		<p>
			{body}
		</p>
	</a>
</li>