---
import '../styles/global.css';
interface Props {
	title: string;
	href: string;
	
}

const { href, title } = Astro.props;
---

<li class="link-subcard">
	<a href={href} target="_blank"; >
		<h4>
			{title}
			<span>&rarr;</span>
		</h4>
		
	</a>
</li>